/* normalaze */

/* Global */

/* nav */


/* text-color */

.nav{
    display: grid;
    grid-template-columns:repeat(10,10%);
    
}
#titre{
    display: grid;
    grid-template-columns:1fr 10%;
}
nav a{
    align-items: flex-end;
}
nav h3{
    display: grid;
    grid-template-rows: ;
    

}
nav li{
    text-decoration: none;
}
/* grid */


body
{
    margin: 0;
    padding: 0;
  }   
